:root {
    --background: #ffffff;
    --text-color: #000000;
    --secondary-color: #616161;
    --link-color: #337fd2;
}

@media (prefers-color-scheme: dark) {
    :root{
        --background:#161618;
        --text-color: #f2f5f4;
        --secondary-color: #888888;
        --link-color: #75c0c7;
    }
}

/* Material Design icons: https://developers.google.com/fonts/docs/material_icons */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(material-icons/MaterialIcons-Regular.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: large;
    display: inline-flex;
    vertical-align: middle;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: Helvetica, sans-serif;
    background:var(--background);
    color:var(--text-color);
    font-size: large;
    min-width: max-content;
}

a {
    color:var(--link-color);
}

.content {
    margin: 2%;
}

h3, .center {
    text-align: center;
}

.text-secondary {
    color:var(--secondary-color);
}

.mono {
    font-family: monospace, monospace;
}

.video-container {
    border-style: solid;
    border-color: #264BB1;
    border-radius: 5px;
    padding: 2%;
}